@font-face {
  font-family: Montserrat;
  src: url("../../assets/fonts/Montserrat-Light.woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: url("../../assets/fonts/Montserrat-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: url("../../assets/fonts/Montserrat-Bold.woff2");
  font-weight: 700;
  font-display: swap;
}

$headerColor: #d44637;
$bodyColor: #e74c3c;

$headerColorEdit: #708238;
$bodyColorEdit: #0B6623;

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__state_show {
  display: block;
}

.modal__state_hide {
  display: none;
}

.modal__content {
  color: #fefefe;
  margin: auto;
  width: 516px;
  border-radius: 4px;
}

.modal__content--main{
  border: 1px solid $headerColor;

}
.modal__content--green{
  border: 1px solid $headerColorEdit;
}


.modal__header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
}

.modal__header--main{
  background-color: $headerColor;

}
.modal__header--edit{
  background-color: $headerColorEdit;
}


.modal__close_icon {
  &:hover {
    cursor: pointer;
  }
}

.modal__text {
  padding: 20px;
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
}

.modal__text--main{
  background-color: $bodyColor;
}


.modal__text--edit{
  background-color: $bodyColorEdit;
}

.modal__actions {
  display: flex;
  justify-content: center;
}

.modal__actions--main{
  background-color: $bodyColor;
}

.modal__actions--edit{
  background-color: $bodyColorEdit;
}