
.btn {
  border: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 2px;
  padding: 10px 25px;
  margin: 20px 5px;

  &:hover {
    cursor: pointer;
  }
}

.btn-warn {
  border: 0;
  background-color: rgba(242, 47, 47, 0.3);
  color: white;
  border-radius: 2px;
  padding: 10px 25px;
  margin: 20px 5px;

  &:hover {
    cursor: pointer;
  }
}

.btn-edit {
  border: 0;
  background-color: rgba(7, 61, 23, 0.3);
  color: white;
  border-radius: 2px;
  padding: 10px 25px;
  margin: 20px 5px;

  &:hover {
    cursor: pointer;
  }
}